---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{.NAME}}
spec:
  selector:
    matchLabels:
      name: {{.NAME}}
  replicas: 1
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        name: {{.NAME}}
    spec:
      securityContext:
        runAsUser: 1000
        fsGroup: 1000
      containers:
      - name: certs
        image: quay.io/ukhomeofficedigital/borders-cfssl-sidekick:bd4901b5a28c
        securityContext:
          runAsNonRoot: true
        args:
          - --domain={{.NAME}}.{{.DOMAIN}}
          - --url={{.INTERNAL_CA_URL}}
          - --verbose=True
        volumeMounts:
          - name: certs
            mountPath: /certs
          - name: bundle
            mountPath: /etc/ssl/certs
            readOnly: true
      - name: proxy
        image: quay.io/ukhomeofficedigital/nginx-proxy
        imagePullPolicy: Always
        securityContext:
          runAsNonRoot: true
        env:
        - name: PROXY_SERVICE_HOST
          value: "127.0.0.1"
        - name: PROXY_SERVICE_PORT
          value: "3000"
        - name: SERVER_CERT
          value: "/certs/tls.pem"
        - name: SERVER_KEY
          value: "/certs/tls-key.pem"
        - name: SSL_CIPHERS
          value: "ECDHE-RSA-AES128-GCM-SHA256:AES256+EECDH:AES256+EDH:!aNULL"
        - name: ENABLE_UUID_PARAM
          value: "FALSE"
        - name: NAXSI_USE_DEFAULT_RULES
          value: "FALSE"
        - name: PORT_IN_HOST_HEADER
          value: "FALSE"
        - name: ERROR_REDIRECT_CODES
          value: "599"
        - name: ADD_NGINX_LOCATION_CFG
          value: |
            gzip off;
            proxy_buffer_size         256k;
            proxy_buffers             4 512k;
            proxy_busy_buffers_size   512k;
            echo_read_request_body;
        - name: LOG_FORMAT_NAME
          value: "json"
        - name: NO_LOGGING_URL_PARAMS
          value: {{.NO_LOGGING_URL_PARAMS}}
        - name: NO_LOGGING_BODY
          value: {{.NO_LOGGING_BODY}}
        - name: NO_LOGGING_RESPONSE
          value: {{.NO_LOGGING_RESPONSE}}
        - name: STATSD_METRICS
          value: "FALSE"
        ports:
        - name: https
          containerPort: 10443
        volumeMounts:
          - name: certs
            mountPath: /certs
          - name: bundle
            mountPath: /etc/ssl/certs
            readOnly: true
      - name: {{.NAME}}
        image: quay.io/ukhomeofficedigital/postgrest
        resources:
         limits:
          memory: "1024Mi"
          cpu: "1000m"
         requests:
          memory: "1024Mi"
          cpu: "1000m"
        command: /bin/getKeycloakKey.sh
        env:
          - name: PGRST_DB_URI
            valueFrom:
              secretKeyRef:
                key: uri
                name: {{.NAME}}
          - name: PGRST_DB_ANON_ROLE
            valueFrom:
              secretKeyRef:
                key: anonRole
                name: {{.NAME}}
          - name: PGRST_SECRET_IS_BASE64
            value: false
          - name: PGRST_JWT_AUD
            valueFrom:
              secretKeyRef:
                key: jwtAud
                name: {{.NAME}}
          - name: PGRST_ROLE_CLAIM_KEY
            valueFrom:
              secretKeyRef:
                key: jwtRoleClaimKey
                name: {{.NAME}}
          - name: PGRST_DB_SCHEMA
            value: {{.PGRST_DB_SCHEMA}}
          - name: PGRST_SERVER_PROXY_URI
            value: "https://{{.NAME}}.{{.DOMAIN}}/"
          - name: KEYCLOAK_URL
            VALUE: {{.KEYCLOAK_URL}}
          - name: KEYCLOAK_REALM
            VALUE: {{.KEYCLOAK_REALM}}
        securityContext:
          runAsNonRoot: true
      volumes:
      - name: bundle
        configMap:
          name: bundle
      - name: certs
        emptyDir: {}
